body {
    margin: 0;
}

.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: black;
    font-family: cursive;
    color: #b9b9b9;
}

.cronometro-container {
    position: relative;
}

.cronometro-container,
.cronometro,
.cronometro-border {
    height: 200px;
    width: 200px;
    box-sizing: border-box;
    padding: 30px;
    top: 0;
    left: 0;
}

.cronometro {
    text-align: center;
    padding: 60px 0px;
    position: absolute;
}

.cronometro-border {
    border: 4px solid #4b2424;
    border-radius: 100%;
    position: absolute;
}

.cronometro-border::after {
    content: "";
    width: 10px;
    height: 10px;
    background: black;
    border: 5px solid #e27575;
    border-radius: 100%;
    top: 10px;
    position: absolute;
}

.cronometro-min {
    font-size: 50px;
}

.cronometro-seg {
    font-size: 30px;
}

.cronometro-centiseg {
    color: #e27575;
    display: inline-block;
    text-align: left;
    width: 22px;
}

.decor {
    font-size: 20px;
    color: #4b2424;
}

.rotar {
    animation: rotar infinite 1s;
}

@keyframes rotar {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.cronometro-opciones {
    margin-top: 30px;
}

.cronometro-opciones button {
    font-family: sans-serif;
    font-weight: bold;
    color: #b9b9b9;
    letter-spacing: 2px;
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
    user-select: none;
}

#cronometro-iniciar {
    font-size: 25px;
}

.cronometro-opciones button:active {
    color: #e27575;
}